.break {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 180px;
}

.break h1 {
    font-size: 27px;
    font-weight: 500;
    margin-bottom: 50px;
}

.end {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 440px;
    background: #272333;
}

.end img {
    height: 17vw;
}

.general {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 50px;
    height: calc(440px - 50px);
    width: 700px;
}

.social-medias {
    flex-shrink: 1;
    text-align: center;
    width: 400px;
}

.social-medias h1 {
    font-size: 21px;
    font-weight: 500;
}

.social-medias p {
    color: #999;
    font-weight: 500;
    font-size: 16px;
}

.links a {
    color: #BA68C8;
}

.links a:hover {
    transition: 0.2s;
    color: #1a1823;
}

.links p {
    color: #BA68C8;
}

.links h2 {
    font-weight: 500;
    font-size: 21px;
    margin-bottom: 50px;
}