*,
::before,
::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
}

body {
    color: #fff;
    font-family: "Poppins", sans-serif;
    background: #1a1823;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}